@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TMS Web App</h1>
    <p>For further access, you need to <a href="/Account/Register">register</a> or <a href="/Account/Login">login</a> first.</p>
</div>
